<a href="https://colab.research.google.com/github/aaronpetryio/random/blob/main/mlb_pbp_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import re
import sklearn
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from collections import Counter
from sklearn.metrics import *
from sklearn.linear_model import *
from sklearn.model_selection import *
from pybaseball import *

pd.set_option("display.max_columns", 120)
pd.set_option("display.max_rows", 120)

In [ ]:
!pip install pybaseball

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pybaseball
  Downloading pybaseball-2.2.5-py3-none-any.whl (419 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 420.0/420.0 KB 7.2 MB/s eta 0:00:00
Requirement already satisfied: pyarrow>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from pybaseball) (9.0.0)
Requirement already satisfied: tqdm>=4.50.0 in /usr/local/lib/python3.8/dist-packages (from pybaseball) (4.64.1)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.8/dist-packages (from pybaseball) (1.22.4)
Collecting pygithub>=1.51
  Downloading PyGithub-1.58.0-py3-none-any.whl (312 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 312.4/312.4 KB 18.7 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.8/dist-packages (from pybaseball) (1.3.5)
Requirement already satisfied: beautifulsoup4>=4.4.0 in /usr/local/lib/python3.8/dist-packages (from pybaseball) (4.6.3)
Requirement already satisfied: lxml>=4.2.1 in /usr/local/lib/python3.8/dist-packages (from pybaseball) (4.9.2)
Requirement already satisfied: requests>=2.18.1 in /usr/local/lib/python3.8/dist-packages (from pybaseball) (2.25.1)
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from pybaseball) (3.5.3)
Requirement already satisfied: scipy>=1.4.0 in /usr/local/lib/python3.8/dist-packages (from pybaseball) (1.10.1)
Requirement already satisfied: attrs>=20.3.0 in /usr/local/lib/python3.8/dist-packages (from pybaseball) (22.2.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.0.0->pybaseball) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.0.0->pybaseball) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.0.0->pybaseball) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.0.0->pybaseball) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.0.0->pybaseball) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.0.0->pybaseball) (23.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.0.0->pybaseball) (0.11.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.3->pybaseball) (2022.7.1)
Collecting deprecated
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Collecting pynacl>=1.4.0
  Downloading PyNaCl-1.5.0-cp36-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (856 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 856.7/856.7 KB 45.9 MB/s eta 0:00:00
Collecting pyjwt>=2.4.0
  Downloading PyJWT-2.6.0-py3-none-any.whl (20 kB)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.18.1->pybaseball) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.18.1->pybaseball) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.18.1->pybaseball) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.18.1->pybaseball) (1.26.14)
Requirement already satisfied: cffi>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from pynacl>=1.4.0->pygithub>=1.51->pybaseball) (1.15.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7->matplotlib>=2.0.0->pybaseball) (1.15.0)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.8/dist-packages (from deprecated->pygithub>=1.51->pybaseball) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.4.1->pynacl>=1.4.0->pygithub>=1.51->pybaseball) (2.21)
Installing collected packages: pyjwt, deprecated, pynacl, pygithub, pybaseball
Successfully installed deprecated-1.2.13 pybaseball-2.2.5 pygithub-1.58.0 pyjwt-2.6.0 pynacl-1.5.0

In [ ]:
df = team_game_logs(2022, "CHW")

In [ ]:
df.head()

,Game,Date,Home,Opp,Rslt,PA,AB,R,H,2B,3B,HR,RBI,BB,IBB,SO,HBP,SH,SF,ROE,GDP,SB,CS,BA,OBP,SLG,OPS,LOB,NumPlayers,Thr,OppStart
0,1,Apr 8,False,DET,"L,4-5",37,34,4,8,3,0,1,4,3,0,3,0,0,0,0,1,0,0,0.235,0.297,0.412,0.709,6,9,L,E.Rodriguez(42)
1,2,Apr 9,False,DET,"W,5-2",37,36,5,10,2,1,1,5,0,0,5,0,1,0,0,0,1,0,0.257,0.288,0.443,0.731,5,11,R,C.Mize(39)
2,3,Apr 10,False,DET,"W,10-1",43,39,10,13,5,0,1,10,3,0,6,0,0,1,1,0,1,0,0.284,0.319,0.477,0.796,6,9,L,T.Skubal(32)
3,4,Apr 12,True,SEA,"W,3-2",33,30,3,6,0,0,1,3,3,0,9,0,0,0,0,0,2,0,0.266,0.309,0.439,0.748,6,11,R,M.Brash(57)
4,5,Apr 13,True,SEA,"W,6-4",36,32,6,10,1,0,3,6,4,0,6,0,0,0,0,2,0,0,0.275,0.324,0.474,0.798,6,11,L,R.Ray(31)